In [1]:
import pandas as pd

In [18]:
tags_df = pd.read_csv("tag.txt", sep='\t')
nums_df = pd.read_csv("num.txt", sep='\t')
pres_df = pd.read_csv("pre.txt", sep='\t')
subs_df = pd.read_csv("sub.txt", sep='\t')

In [19]:
tags_df

,tag,version,custom,abstract,datatype,iord,crdr,tlabel,doc
0,PA,stpr/2018,0,1,member,NaN,NaN,PENNSYLVANIA,NaN
1,MA,stpr/2018,0,1,member,NaN,NaN,MASSACHUSETTS,NaN
2,NC,stpr/2018,0,1,member,NaN,NaN,NORTH CAROLINA,NaN
3,CA,stpr/2018,0,1,member,NaN,NaN,CALIFORNIA,NaN
4,GA,stpr/2018,0,1,member,NaN,NaN,GEORGIA,NaN
...,...,...,...,...,...,...,...,...,...
118123,SharesIssuedOnAcquisitionOfSignifi,0001213900-21-035102,1,0,monetary,D,C,SharesIssuedOnAcquisitionOfSignifi,Shares issued on acquisition.
118124,TradeAndOtherReceivablesPrepaidsAndAdvancesToS...,0001213900-21-035102,1,0,monetary,D,C,TradeAndOtherReceivablesPrepaidsAndAdvancesToS...,NaN
118125,TransactionCostsNote22,0001213900-21-035102,1,0,monetary,D,D,TransactionCostsNote22,NaN
118126,TranslationAdjustment,0001213900-21-035102,1,0,monetary,D,D,TranslationAdjustment,NaN
118127,WeightedAverageShare,0001213900-21-035102,1,0,shares,D,NaN,WeightedAverageShare,NaN

In [20]:
nums_df

,adsh,tag,version,coreg,ddate,qtrs,uom,value,footnote
0,0001640334-21-000798,AccountsPayableAndAccruedLiabilitiesCurrent,us-gaap/2019,NaN,20210131,0,USD,10010.0,NaN
1,0001640334-21-000798,AccountsPayableAndAccruedLiabilitiesCurrent,us-gaap/2019,NaN,20201031,0,USD,10913.0,NaN
2,0001477932-21-002126,AccountsPayableAndAccruedLiabilitiesCurrent,us-gaap/2019,NaN,20201231,0,USD,2372072.0,NaN
3,0001477932-21-002126,AccountsPayableAndAccruedLiabilitiesCurrent,us-gaap/2019,NaN,20191231,0,USD,1018145.0,NaN
4,0001640334-21-000810,AccountsPayableAndAccruedLiabilitiesCurrent,us-gaap/2019,NaN,20210228,0,USD,2974.0,NaN
...,...,...,...,...,...,...,...,...,...
2441785,0001213900-21-035102,WarrantExercisablePrice,0001213900-21-035102,NaN,20200731,0,CAD,26.1,NaN
2441786,0001213900-21-035102,WarrantsIssue,0001213900-21-035102,NaN,20201231,4,shares,1260000.0,NaN
2441787,0001213900-21-035102,WeightedAverageShare,0001213900-21-035102,NaN,20201231,4,shares,1484898.0,NaN
2441788,0001213900-21-035102,WeightedAverageShare,0001213900-21-035102,NaN,20191231,4,shares,807956.0,NaN
2441789,0001213900-21-035102,WeightedAverageShare,0001213900-21-035102,NaN,20181231,4,shares,657764.0,NaN

In [21]:
pres_df

,adsh,report,line,stmt,inpth,rfile,tag,version,plabel,negating
0,0001437749-21-011167,1,3,CP,0,H,AL,stpr/2018,ALABAMA,0
1,0001109357-21-000050,1,4,CP,0,H,DC,stpr/2018,DISTRICT OF COLUMBIA,0
2,0001109357-21-000050,1,6,CP,0,H,DE,stpr/2018,DELAWARE,0
3,0001109357-21-000050,1,5,CP,0,H,VA,stpr/2018,VIRGINIA,0
4,0001165002-21-000044,2,21,BS,0,H,AccountsPayableAndAccruedLiabilitiesCurrent,us-gaap/2019,Accounts payable and accrued liabilities,0
...,...,...,...,...,...,...,...,...,...,...
1311072,0001628280-21-013239,6,28,CF,0,H,OfferingCostsPaidBySponsorInExchangeForIssuanc...,0001628280-21-013239,Offering costs paid by Sponsor in exchange for...,0
1311073,0001628280-21-013239,5,21,EQ,0,H,SharesSubjectToPossibleRedemptionShares,0001628280-21-013239,Shares subject to possible redemption (in shares),1
1311074,0001628280-21-013239,5,22,EQ,0,H,SharesSubjectToPossibleRedemptionValue,0001628280-21-013239,Shares subject to possible redemption,1
1311075,0001628280-21-013239,3,8,BS,1,H,TemporaryEquitySharesSubjectToPossibleRedemption,0001628280-21-013239,"Temporary equity, shares subject to possible r...",0
1311076,0001628280-21-013239,6,32,CF,0,H,ValueOfOrdinarySharesSubjectToPossibleRedemption,0001628280-21-013239,Initial value of Class A ordinary shares subje...,0

In [22]:
subs_df

,adsh,cik,name,sic,countryba,stprba,cityba,zipba,bas1,bas2,...,period,fy,fp,filed,accepted,prevrpt,detail,instance,nciks,aciks
0,0000009389-21-000078,9389,BALL CORP,3411.0,US,CO,WESTMINSTER,80021,9200 W. 108TH CIRCLE,NaN,...,20210331.0,NaN,NaN,20210401,2021-04-01 10:49:00.0,0,0,bll-20210401x8k_htm.xml,1,NaN
1,0000037996-21-000020,37996,FORD MOTOR CO,3711.0,US,MI,DEARBORN,48126,ONE AMERICAN ROAD,NaN,...,20210331.0,NaN,NaN,20210401,2021-04-01 15:38:00.0,0,0,f-20210401_htm.xml,1,NaN
2,0000038009-21-000033,38009,FORD MOTOR CREDIT CO LLC,6159.0,US,MI,DEARBORN,48126,ONE AMERICAN ROAD,NaN,...,20210331.0,NaN,NaN,20210401,2021-04-01 16:49:00.0,0,0,fmcc-20210401_htm.xml,1,NaN
3,0000038725-21-000080,38725,FRANKLIN ELECTRIC CO INC,3621.0,US,IN,FORT WAYNE,46809,9255 COVERDALE ROAD,NaN,...,20210331.0,NaN,NaN,20210401,2021-04-01 15:03:00.0,0,0,fele-20210401_htm.xml,1,NaN
4,0000048732-21-000004,48732,CENTERPOINT ENERGY HOUSTON ELECTRIC LLC,4911.0,US,TX,HOUSTON,77002,1111 LOUISIANA,NaN,...,20210331.0,NaN,NaN,20210401,2021-04-01 16:35:00.0,0,0,cehe-20210401_htm.xml,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20689,0001731122-21-001110,1698832,"WALL STREET ACQUISITIONS, CORP",6770.0,US,NJ,NEWARK,07102,"ONE GATEWAY CENTER, 26TH FL",NaN,...,20210331.0,2021.0,Q1,20210630,2021-06-30 09:18:00.0,0,1,wsac-20210331.xml,1,NaN
20690,0001745797-21-000044,1745797,"BRIGHAM MINERALS, INC.",1311.0,US,TX,AUSTIN,78730,5914 W. COURTYARD DRIVE,SUITE 200,...,20210630.0,NaN,NaN,20210630,2021-06-30 16:16:00.0,0,0,mnrl-20210624_htm.xml,1,NaN
20691,0001759655-21-000017,1759655,"PRIVIA HEALTH GROUP, INC.",8000.0,US,VA,ARLINGTON,22203,"950 N. GLEBE RD., SUITE 700",NaN,...,20210630.0,NaN,NaN,20210630,2021-06-30 09:08:00.0,0,0,prva-20210628_htm.xml,1,NaN
20692,0001818874-21-000016,1818874,"SOFI TECHNOLOGIES, INC.",6199.0,US,CA,SAN FRANCISCO,94105,234 1ST STREET,NaN,...,20210630.0,NaN,NaN,20210630,2021-06-30 16:02:00.0,0,0,sofi-20210630_htm.xml,1,NaN
20693,0001831631-21-000063,1831631,"LOANDEPOT, INC.",6199.0,US,CA,FOOTHILL RANCH,92610,26642 TOWNE CENTRE DRIVE,NaN,...,20210630.0,NaN,NaN,20210630,2021-06-30 16:37:00.0,0,0,ldi-20210630_htm.xml,1,NaN

In [31]:
num_sub=pd.merge(nums_df,subs_df,how='left',on='adsh')

In [32]:
num_sub.form.unique()

array(['10-Q', '10-K', 'POS AM', 'S-1/A', '10-Q/A', '10-K/A', 'S-1',
       '20-F', 'S-4', '6-K', '10-KT', '40-F/A', '20-F/A', '40-F', '6-K/A',
       '8-K', 'S-4/A', 'S-11/A', '10-12G/A', 'S-11', 'SP 15D2', 'F-1',
       '8-K/A', 'F-1/A', '10-QT', 'F-4', '10-12G'], dtype=object)

In [44]:
num_sub_df=num_sub[(num_sub['form']=='10-Q')]

In [35]:
num_sub_df

,adsh,tag,version,coreg,ddate,qtrs,uom,value,footnote,cik,...,period,fy,fp,filed,accepted,prevrpt,detail,instance,nciks,aciks
2,0001477932-21-002126,AccountsPayableAndAccruedLiabilitiesCurrent,us-gaap/2019,NaN,20201231,0,USD,2372072.0,NaN,1376804,...,20201231.0,2020.0,FY,20210408,2021-04-08 16:05:00.0,0,1,vnue-20201231.xml,1,NaN
3,0001477932-21-002126,AccountsPayableAndAccruedLiabilitiesCurrent,us-gaap/2019,NaN,20191231,0,USD,1018145.0,NaN,1376804,...,20201231.0,2020.0,FY,20210408,2021-04-08 16:05:00.0,0,1,vnue-20201231.xml,1,NaN
10,0001640334-21-000808,AccountsPayableAndAccruedLiabilitiesCurrent,us-gaap/2019,NaN,20181231,0,USD,7450.0,NaN,1407704,...,20191231.0,2019.0,FY,20210408,2021-04-08 13:19:00.0,0,1,boty-20191231.xml,1,NaN
11,0001640334-21-000808,AccountsPayableAndAccruedLiabilitiesCurrent,us-gaap/2019,NaN,20191231,0,USD,494.0,NaN,1407704,...,20191231.0,2019.0,FY,20210408,2021-04-08 13:19:00.0,0,1,boty-20191231.xml,1,NaN
18,0001640334-21-000838,AccountsPayableAndAccruedLiabilitiesCurrent,us-gaap/2019,NaN,20201231,0,USD,15822.0,NaN,1794942,...,20201231.0,2020.0,FY,20210412,2021-04-12 14:07:00.0,0,1,stark-20201231.xml,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2441336,0001193125-21-204830,Proceedsfromredeemableinterestinvestment,0001193125-21-204830,SodiaalInternational,20190531,4,USD,55700000.0,NaN,40704,...,20210531.0,2021.0,FY,20210630,2021-06-30 16:57:00.0,0,1,d184854d10k_htm.xml,1,NaN
2441337,0001193125-21-204830,RestructuringChargesReversalIncludingRestructu...,0001193125-21-204830,NaN,20210531,4,USD,172700000.0,NaN,40704,...,20210531.0,2021.0,FY,20210630,2021-06-30 16:57:00.0,0,1,d184854d10k_htm.xml,1,NaN
2441338,0001193125-21-204830,RestructuringChargesReversalIncludingRestructu...,0001193125-21-204830,NaN,20190531,4,USD,77600000.0,NaN,40704,...,20210531.0,2021.0,FY,20210630,2021-06-30 16:57:00.0,0,1,d184854d10k_htm.xml,1,NaN
2441339,0001193125-21-204830,RestructuringChargesReversalIncludingRestructu...,0001193125-21-204830,NaN,20200531,1,USD,11500000.0,NaN,40704,...,20210531.0,2021.0,FY,20210630,2021-06-30 16:57:00.0,0,1,d184854d10k_htm.xml,1,NaN
2441340,0001193125-21-204830,UnrealizedGainLossOnInterestRateCashFlowHedges...,0001193125-21-204830,NaN,20210531,0,USD,-26300000.0,NaN,40704,...,20210531.0,2021.0,FY,20210630,2021-06-30 16:57:00.0,0,1,d184854d10k_htm.xml,1,NaN

In [37]:
num_sub_df.columns

Index(['adsh', 'tag', 'version', 'coreg', 'ddate', 'qtrs', 'uom', 'value',
       'footnote', 'cik', 'name', 'sic', 'countryba', 'stprba', 'cityba',
       'zipba', 'bas1', 'bas2', 'baph', 'countryma', 'stprma', 'cityma',
       'zipma', 'mas1', 'mas2', 'countryinc', 'stprinc', 'ein', 'former',
       'changed', 'afs', 'wksi', 'fye', 'form', 'period', 'fy', 'fp', 'filed',
       'accepted', 'prevrpt', 'detail', 'instance', 'nciks', 'aciks'],
      dtype='object')

In [45]:
num_sub_df=num_sub_df[['adsh', 'form', 'tag', 'cik', 'name', 'version', 'ddate', 'qtrs', 'uom', 'value',
       'sic', 'ein', 'former', 'changed', 'afs', 'wksi', 'fye', 'period', 'fy', 'fp']]

In [46]:
num_sub_df

,adsh,form,tag,cik,name,version,ddate,qtrs,uom,value,sic,ein,former,changed,afs,wksi,fye,period,fy,fp
0,0001640334-21-000798,10-Q,AccountsPayableAndAccruedLiabilitiesCurrent,1593204,"HUAIZHONG HEALTH GROUP, INC.",us-gaap/2019,20210131,0,USD,1.001000e+04,7372.0,901020141.0,ADAIAH DISTRIBUTION INC,20131129.0,4-NON,0,1031.0,20210131.0,2021.0,Q1
1,0001640334-21-000798,10-Q,AccountsPayableAndAccruedLiabilitiesCurrent,1593204,"HUAIZHONG HEALTH GROUP, INC.",us-gaap/2019,20201031,0,USD,1.091300e+04,7372.0,901020141.0,ADAIAH DISTRIBUTION INC,20131129.0,4-NON,0,1031.0,20210131.0,2021.0,Q1
4,0001640334-21-000810,10-Q,AccountsPayableAndAccruedLiabilitiesCurrent,1584480,"STARTECH LABS, INC.",us-gaap/2019,20210228,0,USD,2.974000e+03,7372.0,0.0,UPPERSOLUTION.COM,20130814.0,4-NON,0,531.0,20210228.0,2021.0,Q3
5,0001640334-21-000810,10-Q,AccountsPayableAndAccruedLiabilitiesCurrent,1584480,"STARTECH LABS, INC.",us-gaap/2019,20200531,0,USD,4.225000e+03,7372.0,0.0,UPPERSOLUTION.COM,20130814.0,4-NON,0,531.0,20210228.0,2021.0,Q3
8,0001477932-21-002141,10-Q,AccountsPayableAndAccruedLiabilitiesCurrent,1631463,BARREL ENERGY INC.,us-gaap/2019,20190930,0,USD,3.157750e+05,1311.0,471963189.0,NaN,NaN,4-NON,0,930.0,20200331.0,2020.0,Q2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2441012,0000796343-21-000159,10-Q,SubscriptionRevenues,796343,ADOBE INC.,0000796343-21-000159,20210531,1,USD,3.520000e+09,7372.0,770019522.0,ADOBE SYSTEMS INC,19940208.0,1-LAF,0,1130.0,20210531.0,2021.0,Q2
2441013,0000796343-21-000159,10-Q,SubscriptionRevenues,796343,ADOBE INC.,0000796343-21-000159,20210531,2,USD,7.104000e+09,7372.0,770019522.0,ADOBE SYSTEMS INC,19940208.0,1-LAF,0,1130.0,20210531.0,2021.0,Q2
2441014,0000796343-21-000159,10-Q,UnrealizedGainsonAvailableforSaleSecuritiesNet...,796343,ADOBE INC.,0000796343-21-000159,20201130,0,USD,6.000000e+06,7372.0,770019522.0,ADOBE SYSTEMS INC,19940208.0,1-LAF,0,1130.0,20210531.0,2021.0,Q2
2441015,0000796343-21-000159,10-Q,UnrealizedGainsonAvailableforSaleSecuritiesNet...,796343,ADOBE INC.,0000796343-21-000159,20210531,0,USD,3.000000e+06,7372.0,770019522.0,ADOBE SYSTEMS INC,19940208.0,1-LAF,0,1130.0,20210531.0,2021.0,Q2
2441016,0000796343-21-000159,10-Q,UpFrontPaymentsTreasuryStockRemainingBalance,796343,ADOBE INC.,0000796343-21-000159,20210531,0,USD,3.330000e+08,7372.0,770019522.0,ADOBE SYSTEMS INC,19940208.0,1-LAF,0,1130.0,20210531.0,2021.0,Q2